<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.projectfinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_not_text"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectFinalMaster"
        tools:targetApi="31">
        <activity
            android:name=".activity.ViewShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.address.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>